* {
    margin: 0;
    padding: 0;
  }


  /* Login */

  #login h1{
    font-family: 'Sirin Stencil', cursive;
color: snow;
  }
  .Login {
    margin-top: 20px;
    margin-left: 30%;
    max-width: 600px;
  height: 600px;
    padding: 16px;
    background: rgba(4, 4, 4, 0.56);
    border: 1px solid;
    margin-bottom: 200px;
  }
 
  .Login input[type=email], input[type=password] , input[type=text] {
   outline: none;
    font-size: 15px;
    color: #ffffff;
    padding: 15px 40px 15px 10px;
    letter-spacing: 2px;
    width: 87%;
    border: none;
    border: 1px solid #DCCBCF;
    -webkit-appearance: none;
    margin-top: 25px;

    background: transparent;
	font-family: 'Sirin Stencil', cursive;
  }
  
 
  
  
  .p-bottom-w3ls {
    font-size: 16px;
    color: #eee;
    margin-top: 5em;
    text-align: center;
	  text-transform: none;
	  float:left;
    }
.p-bottom-w3ls1 {
    font-size: 16px;
    color: #eee;
    margin-top: 6em;
    text-align: center;
	text-transform: none;
	float:right;
}
.p-bottom-w3ls a,.p-bottom-w3ls1 a{
    color: #8BC34A;
	outline:none;
	text-decoration:none;
}
.Login button{
  margin-top: 20px;
  padding: 10px;
}
/* Register */
.hiddenFileInput > input{
  height: 100%;
  width: 100;
  opacity: 0;
  /* cursor: pointer; */
}
.hiddenFileInput{
  border: 1px solid #ccc;
  width: 100px;
  height: 100px;
  display: inline-block;
  /* overflow: hidden; */
  cursor: pointer;
  
  /*for the background, optional*/
  background: center center no-repeat;
  border-radius: 50%;
  background-image:  url(http://www.gstatic.com/images/icons/material/system/2x/photo_camera_grey600_24dp.png);

}
  /* Header */
  #menu{
    width: 100%;
  }
  #menu a{
    font-weight: bolder;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace ;

  }
  #menu  li{
    display: inline-block;
    padding: 10px;

  }
  #menu  li a{
   text-decoration: none;
   color: black;
    
  }
  #menu input[type=text]{
    width: 700px;
    padding: 10px;
   
  }
  #menu .icon{
    font-size: 30px;
  }

  /* Body1 */
.bd1{
    height: 20%;
    position: relative;
  }
  .bd1 .slide img{
    height: 100%;
    width: 100%;
  }
  .bd1 #categories{
    position: absolute;
    border: 1px solid red;
    top: 70px;
    left: 15px;
    width: 20%;
    height: 60%;
  }

  #categories{
    background-color: snow;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  }

  #categories li{
    list-style-type: none;
    padding: 10px;
    border-bottom: 1px solid #eeeeee;
  }
  #categories .cate{
    text-align: center;
    font-size: large;
  }
  .log{
    position: absolute;
    top: 30px;
    right: 10px;
   
  }

  /* Body 2 */
 .bd2 .row{
    margin-top: 10px;
    background-color: snow;
    width: 80%;
    height: 100%;
    margin:auto;
    padding: 5px;
  }

   /* products */
   #product {
    text-align: center;
    padding: 5px 5px 5px 5px;
}

.product_block {
    border: 1px solid #eeeeee;
    height: 100%;
}

.product_image img {
    width: 100%;
    height: 200px;
}
.product_price #oldPrice{
  text-decoration: line-through;
}
.product_price #price{
color: red;
}
.product_add-t-cart button:hover {
    background-color: brown;
}

.checked {
    color: orange;
}
.button button{
  padding: 10px;
  margin-left: 10px;
  border-radius:12px;
  margin-bottom: 5px;
 }

 .button button:hover{
background-color: thistle; 
}
/* Footer */
.Footer {
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
   left: 0;
   bottom: 0;
   width: 100%;
}
.Footer ul{
  list-style-type: none;
  margin: auto;
}
.Footer li,h3{
  text-align: left;
  padding-left: 10px;
  color: black;
}
/* Detail */
 #body{
padding-top: 200px;
}
#status{
  color: red;
}
/* Cart */
#cart .row{
  width: 80%;
  margin:auto;
}
.cart {
  margin-top: 10px;
  background-color: snow;
  width: 60%;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;

}
.payment{
  width: 300px;
  margin-left: 30px ;
  background-color: snow;
  position: fixed;
  right: 20%;
}